%h1 You are "O"
%form{:action => '/move', :method => 'post'}
  %table
    - 3.times do |r|
      %tr
        - 3.times do |c|
          %td
            - case session['ttt'][r][c]
            - when 0
              %a{:href => "/move?#{r},#{c}", :class => 'hit'} Hit
            - when 1
              O
            - when 2
              X
%p
  %a{:href => '/new'} New