%h1 You lose!
%img{:src => '/Hitler_Paris_1940.jpg'}
%p 
  Now Hitler will destroy the world! Are you gonna allow that, or play again?
  %a{ :href => 'http://commons.wikimedia.org/wiki/File:Hitler_Paris_1940.jpg'} Image from Wikimedia
%p
  %a{:href => '/'} Play Again