h1{ font: 18px Helvetica, Arial, sans-serif; }
#flash{ color: #FF122E; border: 1px dashed #FF122E; background: #FFD1D6; width: 1000px;}
table{ border-collapse: collapse; }
table, th, td{ border: 1px solid black; }
td{ width: 165px; height: 165px; text-align: center; font: 125px Helvetica, Arial, sans-serif;}
a{ color: #13A0FF; }
a:visited{ color: #13A0FF; }
#reddit_button{ margin: 1em 0 1em 0;}